.modal {
  &--close {
    display: none;
  }

  &--open {
    display: block;
  }

  &-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    // overflow-y: scroll;
  }

  &-bg {
    background-color: rgba(25,24,25,0.4);
    height: 200vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200vw;
  }

  &-item {
    position: relative;
    z-index: 1000;
    background-color: #FFF3D3;
    border: 2px solid #D77824;
    border-radius: 16px;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      width: 100%;
      margin: auto;
      // padding-top: 20px;

      img {
        max-width: 90%;
      }
    }

    .modal-close-btn {
      position: absolute;
      right: -13px;
      top: -13px;
      text-align: right;
      padding-top: 0;
      width: 32px;
      height: 32px;

      img {
        max-width: 100%;
      }
    }

    @media screen and (min-width: 751px) {
      padding: 15px;

      &--pc {
        display: block;
      }
      &--sp {
        display: none;
      }
    }

    @media screen and (max-width: 750px) {
      width: 80%;
      padding: 15px;
      height: 80%;

      &--pc {
        display: none;
      }
      &--sp {
        display: block;
        height: 100%;

        p {
          height: 100%;
          overflow-y: scroll;
        }
      }
    }
  }
}
