.uranai-result {
  position: absolute;
  top: 49%;
  left: 46%;
  transform: translate(-46%, -49%);
  -webkit-transform: translate(-46%, -49%);
  -ms-transform: translate(-46%, -49%);

  // > p {
  //   margin-top: 0;
  // }
}
