.uranai-result-wrapper {
  position: relative;
  top: -30px;

  .flex-items {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .kc-about-btn {
    position: absolute;
    bottom: -12%;
    left: 10%;
  }

  @media screen and (min-width: 750px) {
    bottom: -11%;
  }
}

.uranai-result {
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translate(-46%, -40%);
  -webkit-transform: translate(-46%, -40%);
  -ms-transform: translate(-46%, -40%);
  width: 50%;

  @media screen and (min-width: 751px) {
    top: 45%;
    transform: translate(-46%, -45%);
    -webkit-transform: translate(-46%, -45%);
    -ms-transform: translate(-46%, -45%);

  }

  @media screen and (max-width: 600px) {
    width: 70%;
  }

  > p {
   font-size: 20px;

   &:nth-child(1) {
    font-weight: bold;
   }
  }
}
