.flex-items {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;

  li {
    cursor: pointer;
    color: #D77824;
    font-weight: bold;
    font-size: 20px;

    &:nth-child(1) {
      margin-right: 17px;
    }

    &:nth-child(2) {
      margin-left: 17px;
    }
  }
}
