.biyooon {
  animation: biyooon 4s infinite;
}

@keyframes biyooon {
  0% {
      transform: scale(1, 0.8);
  }
  /* 20% {
      transform: scale(1, 1);
  }
  45% {
      transform: scale(1, 1.15);
  } */
  40% {
      transform: scale(0.6, 1.8);
  }
  70% {
      transform: scale(1.9, 0.8);
  }
  100% {
      transform: scale(1, 0.8);
  }
}

.mocchiri {
  animation: mocchiri 3s infinite;
}

@keyframes mocchiri {
  0% {
      transform: scale(1, 0.8);
  }
  20% {
      transform: scale(0.8, 1.1);
  }
  95% {
      transform: scale(1, 1);
  }
  100% {
      transform: scale(1, 0.8);
  }

}

.container {
  max-width: 700px;
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.top-area {
  &__img {
    width: 50%;
    margin: auto;

    img {
      max-width: 100%;
    }
  }

  &__ttl {
    width: 70%;
    margin: auto;
  }

  &__btn-wrap {
    margin-top: 20px;
  }
}
